table {
	border: 1px solid #999;
}

table tfoot td:nth-child(1), table tfoot td:nth-child(2) {
	background-color: white;
	font-style: normal;
	color:black;
}

td, th {
	border: 1px solid #999;
}

th {
	background-color: white;
}

td:nth-child(1) {
	font-style: italic;
}

td:nth-child(2) {
	color: red;
}

td:nth-child(4) {
	color: blue;
}

tr:nth-child(even) {
	background-color: lightgreen;
}

tr:nth-child(odd) {
	background-color: lightblue;
}

dt:hover + dd {
	background-color: purple;
}

.outer-content {
	background-color: pink;
	width: 75%;
	margin-top: 20px;
	position: relative;
	height: 50px;
}

.inner-content {
	text-align: center;
	background-color: lightblue;
	width: 75%;
	position: absolute;
	top: 30%;
	bottom: 30%;
	left: 0;
	right: 0;
	margin: auto;
}

form > fieldset > fieldset {
	margin-bottom: 10px;
}

form fieldset:nth-child(5) label {
	display: block;
	margin-bottom: 10px;
}

form fieldset:nth-child(5) input:nth-child(5) {
	display: block;
	margin-bottom: 10px;
}

img {
	height: 125px;
	width: 100px;
	float:left;
	margin-top: 17px;
}

p {
}
