table {
	border: 1px solid #999;
}

table tfoot td:nth-child(1), 
table tfoot td:nth-child(2) {
	background-color: white;
	color:black;
	font-style: normal;
}

td, 
th {
	border: 1px solid #999;
}

th {
	background-color: white;
}

td:nth-child(1) {
	font-style: italic;
}

td:nth-child(2) {
	color: red;
}

td:nth-child(4) {
	color: blue;
}

tr:nth-child(even) {
	background-color: lightgreen;
}

tr:nth-child(odd) {
	background-color: lightblue;
}

dt:hover + dd {
	background-color: purple;
}

.outer-content {
	background-color: pink;
	height: 50px;
	margin-top: 20px;
	position: relative;
	width: 75%;
}

.inner-content {
	background-color: lightblue;
	bottom: 30%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 30%;
	width: 75%;
}

form > fieldset > fieldset {
	margin-bottom: 10px;
}

form fieldset:nth-child(5) label {
	display: block;
	margin-bottom: 10px;
}

form fieldset:nth-child(5) input:nth-child(5) {
	display: block;
	margin-bottom: 10px;
}

img {
	float:left;
	margin-top: 17px;
}
